%btns-stick-to-bottom {
    bottom: 0;
    display: flex;
    left: 0;
    max-width: $page-max-width;
    padding: 2px;
    position: fixed;
    right: 0;

    .btn {
        flex: 1;
    }
}

.btn-group {
    padding: $btn-group-padding;

    &.stick-btm {
        @extend %btns-stick-to-bottom;
    }

    >.btn {
        border-radius: 0;

        &:first-child {
            border-bottom-#{$float}-radius: $border-radius;
            border-top-#{$float}-radius: $border-radius;
        }

        &:last-child {
            border-bottom-#{$opposite-float}-radius: $border-radius;
            border-top-#{$opposite-float}-radius: $border-radius;
        }
    }
}
