@mixin btn-style($color) {
    color: $color;

    &:hover {
        border-color: darken($color, $btn-border-darken-ratio);
        transition: all $transition-duration-short;
    }
}

@mixin btn-style-outline($color) {
    border-color: $color;
    color: $color;

    &:hover {
        border-color: darken($color, $btn-border-darken-ratio);
        color: darken($color, $btn-border-darken-ratio);
        transition: all $transition-duration-short;
    }
}

@mixin btn-style-filled($background-color, $text-color) {
    background: $background-color;
    border-color: darken($background-color, $btn-border-darken-ratio);
    color: $text-color;

    &:hover {
        $hover-bg: darken($background-color, $btn-border-darken-ratio);
        background: $hover-bg;
        border-color: darken($hover-bg, $btn-border-darken-ratio);
        transition: all $transition-duration-short;
    }
}

@mixin btn-size($height, $font-size) {
    font-size: $font-size;
    height: $height;
    line-height: $height;
}

%btns-stick-to-bottom {
    bottom: 0;
    display: flex;
    left: 0;
    max-width: $page-max-width;
    padding: 2px;
    position: fixed;
    right: 0;

    .btn {
        flex: 1;
    }
}

.btn {
    background: transparent;
    border: 1px solid transparent;
    border-radius: $btn-border-radius;
    color: $color-primary;
    cursor: pointer;
    display: inline-block;
    font-size: $btn-font-size;
    height: $btn-height + (2 * $btn-padding);
    line-height: $btn-height;
    min-width: $btn-min-width;
    outline: 0;
    padding: $btn-padding;
    text-align: center;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;



    &.btn-default {
        @include btn-style($color-default);

        &.btn-outline {
            @include btn-style-outline($color-default);
        }

        &.btn-filled {
            @include btn-style-filled($color-default, $color-default-text);
        }
    }

    &.btn-primary {
        @include btn-style($color-primary);

        &.btn-outline {
            @include btn-style-outline($color-primary);
        }

        &.btn-filled {
            @include btn-style-filled($color-primary, $color-primary-text);
        }
    }

    &.btn-secondary {
        @include btn-style($color-secondary);

        &.btn-outline {
            @include btn-style-outline($color-secondary);
        }

        &.btn-filled {
            @include btn-style-filled($color-secondary, $color-secondary-text);
        }
    }

    &:disabled {
        @include btn-style($silver);
        cursor: not-allowed;

        &.btn-outline {
            @include btn-style-outline($silver);
        }

        &.btn-filled {
            @include btn-style-filled($silver, $grey);
        }
    }

    &.btn-lg {
        @include btn-size($btn-height-large, $font-size-large);
    }
}
