$form-components-label-scale: .8;

.form-wrapper {
    .btn-group {
        margin: auto;

        .btn {
            height: $form-components-height-large;
        }
    }
}

.form-error {
    #{$opposite-float}: $form-control-padding;
    color: $color-error;
    font-size: $font-size-xsmall;
    position: absolute;
    text-align: end;
    top: $form-components-height - 6;
}

.form-group {
    display: flex;
    margin: $form-group-margin;
    padding: $form-group-padding;
    position: relative;

    &.is-dirty {
        >label {
            transform: scale($form-components-label-scale, $form-components-label-scale) translate3d(-10px, -25px, 0);
        }
    }

    label {
        #{$float}: 0;
        color: $color-default;
        font-size: $form-control-font-size;
        line-height: $form-components-height;
        padding: 0 $form-control-padding;
        pointer-events: none;
        position: absolute;
        text-align: end;
        top: floor(3 * $form-control-padding / 2);
        transition: transform $transition-duration-default $transition-effect-default;
        vertical-align: bottom;
        white-space: nowrap;
    }

    &.has-error {
        .form-control {
            border-bottom-color: $color-error;
        }
    }
}

.form-control {
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom-color: $border-color;
    font-size: $form-control-font-size;
    flex: 1;
    height: $form-components-height;
    outline: 0;
    padding: $form-control-padding 0 0 1px;

    &:focus {
        border-bottom-color: $color-primary;
        transition: border-bottom-color $transition-duration-default $transition-effect-default;
    }
}

body {
    &.shrink-view {
        .stick-btm {
            @include scale(0);
        }
    }
}
