$form-error-padding: floor(2 * $unit);

.form-error {
    #{$opposite-float}: $form-control-padding;
    background: $white;
    color: $color-error;
    font-size: $font-size-xsmall;
    padding: 0 $form-error-padding;
    position: absolute;
    text-align: end;
    top: $form-components-height;
}

.form-group {
    display: flex;
    margin: $form-group-margin;
    padding: $form-group-padding;
    position: relative;
    border: 1px solid red;

    &.is-dirty {
        label {
            transform: scale(.6, .6) translate3d(-20px, -20px, 0);
            transition: transform $transition-duration-default $transition-effect-default;
        }
    }

    label {
        #{$float}: $form-control-padding;
        color: $color-default;
        line-height: $form-components-height;
        padding: 0 $form-control-padding;
        pointer-events: none;
        position: absolute;
        text-align: end;
        top: $form-control-padding;
        vertical-align: bottom;
        white-space: nowrap;
    }

    &.has-error {
        .form-control {
            border-color: $color-error;
        }
    }
}

.form-control {
    background-color: $form-control-background;
    border: 1px solid $border-color;
    border-radius: $form-control-border-radius;
    height: $form-components-height;
    outline: 0;
    padding: $form-control-padding;
    flex: 1;
    border: 1px solid green;
}

body {
    &.shrink-view {
        .stick-btm {
            @include scale(0);
        }
    }
}
