$pl-modal-bg: transparentize($white, 0.9) !default;
$pl-wrapper-size: 30vh !default;
$pl-circular-size: $pl-wrapper-size !default;
$pl-circular-border-color: $color-primary !default;
$pl-wrapper-min-size: 200px !default;

.preloader {
  text-align: center;

  .pl-wrapper {
    height: $pl-wrapper-size;
    margin: auto;
    min-height: $pl-wrapper-min-size;
    min-width: $pl-wrapper-min-size;
    position: relative;
    width: $pl-wrapper-size;
  }

  .pl-circular {
    @include animation-rotate(4s, linear);
    background: transparentize($color-primary, 0.95);
    border: 2px solid transparent;
    border-radius: 50%;
    border-top-color: $pl-circular-border-color;
    height: 100%;
    width: 100%;
  }

  .pl-text {
    @include translate3d(0, -50%, 0);
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-align: center;
    text-overflow: ellipsis;
    top: 50%;
  }

  .pl-title {
    font-weight: normal;
    margin-bottom: 10px;
    white-space: nowrap;
  }

  .pl-message {
    font-weight: lighter;
  }
}

.modal {
  &.preloader-modal {
    background: $pl-modal-bg;

    .dialog {
      background: transparent;
      display: flex;
      flex-direction: column;
      position: relative;
    }

    .dialog-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.preloader-open {
  // #content-wrapper {
  filter: blur(5px);
  // }
}
