$form-control-height: 36px !default;
$form-group-margin: 10px !default;
$form-group-padding: 2px !default;
$form-control-padding: 7px !default;
$form-control-bg: $white !default;
$form-control-border-radius: $border-radius !default;
$form-error-padding: 5px !default;

.form-wrapper {
    .btn-group {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: auto;
        padding: $btn-group-padding;
        width: 100%;

        >.btn {
            border-radius: $border-radius;
            flex: 1;
            height: $btn-height-large;
            line-height: $btn-height-large;
            margin: auto 5px;
        }
    }
}

.form-error {
    #{$opposite-float}: 0;
    background: $white;
    color: $color-error;
    font-size: $font-size-small;
    padding: 0 $form-error-padding;
    position: absolute;
    text-align: end;
    top: -1 * floor($form-control-height / 3);
}

.form-group {
    margin: $form-group-margin;
    padding: $form-group-padding 0;
    position: relative;

    &.dirty {
        label {
            transform: scale(.75, .75) translate3d(-$form-control-height / 2, -3*$form-control-height / 4, 0);
            transition: transform $transition-duration-default $transition-effect-default;
        }
    }

    &.required {
        &:after {
            #{$opposite-float}: $form-control-border-radius;
            content: '*';
            position: absolute;
            top: $form-control-border-radius;
        }
    }

    &.multichoice-input {
        label {
            color: $color-primary-text;
            position: static;
        }
    }

    label {
        #{$float}: $form-control-padding;
        color: $color-default;
        line-height: $form-control-height;
        position: absolute;
        top: $form-group-padding;
    }


    &.btn-group {
        margin-top: 4 * $form-group-margin;
    }

    &.has-error {
        .form-control {
            border-color: $color-error;
        }
    }
}

.form-control {
    background-color: $form-control-bg;
    border: 1px solid $border-color;
    border-radius: $form-control-border-radius;
    height: $form-control-height;
    outline: 0;
    padding: $form-control-padding;
    width: 100%;
}

body {
    &.shrink-view {
        .stick-btm {
            @include scale(0);
        }
    }
}
