// media queries
$layout-small-min: 320px !default;
$layout-small-max: 425px !default;
$layout-medium-min: $layout-small-max !default;
$layout-medium-max: 768px !default;
$layout-large-min: $layout-medium-max !default;
$layout-large-max: 1024px !default;
$layout-xlarge-min: $layout-large-max !default;

// font
$font-size-base: 16px !default;
$font-size-xsmall: floor(0.65 * $font-size-base) !default;
$font-size-small: floor(0.85 * $font-size-base) !default;
$font-size-medium: floor(1.25 * $font-size-base) !default;
$font-size-large: floor(1.5 * $font-size-base) !default;
$font-size-xlarge: floor(2 * $font-size-base) !default;
$font-size-xxlarge: floor(4 * $font-size-base) !default;

// timing
$transition-duration-short: 150ms !default;
$transition-duration-medium: 300ms !default;
$transition-duration-long: 500ms !default;
$transition-duration-default: $transition-duration-short !default;

// easing
$transition-effect-default: ease-in-out !default;

// zIndex
$z-index-base: 1 !default;
$z-index-content: 2 !default;
$z-index-header: 10 !default;
$z-index-sidenav: 11 !default;
$z-index-navbar: 11 !default;
$z-index-dialog: 12 !default;
$z-index-date-picker: 12 !default;
$z-index-actionsheet: 13 !default;
$z-index-splash: 90 !default;
$z-index-notification: 99 !default;

// sizes
$unit: 2px !default;
$border-radius: floor(2 * $unit) !default;
$header-padding: floor(8 * $unit) !default;
$breadcrumb-height: floor(22 * $unit) !default;
$footer-height: floor(16 * $unit) !default;
$page-max-width: $layout-medium-max !default;

// colors
$color-text: #444 !default;
$color-primary: #519af7 !default;
$color-primary-text: $white !default;
$color-primary-light: #a9d4ff !default;
$color-primary-light: $black !default;
$color-primary-dark: #4375ac !default;
$color-primary-dark-text: $white !default;
$color-secondary: #eb522e !default;
$color-secondary-text: $white !default;
$color-default: $grey !default;
$color-default-text: $black !default;
$color-success: #3db366 !default;
$color-error: #f15b44 !default;
$color-info: $blue !default;
$color-warning: #fdc600 !default;
$color-light: darken($white, 10%) !default;
$color-semilight: darken($white, 40%) !default;
$color-dark: lighten($black, 10%) !default;
$color-semidark: lighten($black, 40%) !default;
$color-list: $color-primary $color-success $color-error $color-warning $color-info !default;
$color-classes: primary success error warning info !default;

//shadow
$shadow-color: $color-dark !default;
$shadow-horizontal-offset: $unit !default;
$shadow-vertical-offset: $unit !default;
$shadow-radius: floor(2 * $unit) !default;
$shadow-default: $shadow-horizontal-offset $shadow-vertical-offset $shadow-radius $shadow-color !default;

// element colors
$body-background-color: rgba(250, 250, 250, 0.85) !default;
$border-color: $color-default !default;
$box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !default;

// basic element
$element-height: floor(18 * $unit) !default;
$element-height-large: floor(1.5 * 18 * $unit) !default;
$element-height-xlarge: floor(2 * 18 * $unit) !default;
$element-padding: floor(4 * $unit) !default;
$element-margin: floor(2 * $unit) !default;
$element-min-width: floor(32 * $unit) !default;
$element-background: $white !default;
$element-color: $color-dark !default;

// form
$form-components-height: $element-height !default;
$form-components-height-large: $element-height-large !default;
$form-group-padding: $element-padding !default;
$form-group-margin: $element-margin !default;
$form-control-padding: $element-padding !default;
$form-control-background: $white !default;
$form-control-border-radius: $border-radius !default;
$form-control-font-size: ceil(($font-size-small + $font-size-base) / 2) !default;

// appbar
$appbar-height: floor(32 * $unit) !default;
$appbar-padding: 0 floor(13 * $unit) !default;
$appbar-icon-size: floor(12 * $unit) !default;
